body {
    font-family: sans-serif, serif;
}

a:active {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

.header {
    height: 300px;
    background: url(Images/Banner%20Jochem.jpg);
    background-size: cover;
}

.btn {
    display: inline-block;
    /*background-color: #303030;*/
    padding: 20px 40px;
}

.btn:hover {
    /*background-color: #66CCFF;
    color: black;*/
    border-bottom: solid #337ab7;
    border-radius: 1;
}