body {
    font-family: sans-serif, serif;
    background-color: rgba(0, 0, 0, 0.9);
}

.header {
    background: url(Images/Web%20Builder%20Roan%20site.jpg);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}